.baseInput {
  width: 100%;
  position: relative;
  display: block;

  &__label {
    position: absolute;
    top: 6px;
    left: 20px;
    font: 400 15px/1 "Arial", sans-serif;
    color: rgba(#101010, 0.5);
    display: block;
    pointer-events: none;
    letter-spacing: 0.01em;
    transform: translate(0, 13px);
    transition: transform 0.3s ease;
    will-change: transform;
    transform-origin: left center;
  }

  &--focus {
    .baseInput__label {
      transform: translate(-2px, 0) scale(0.8);
    }
  }

  &__field {
    width: 100%;
    position: relative;
    height: 52px;
    display: block;
  }

  &__hidden {
    font: 300 15px/1 "Arial", sans-serif;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: 1.5px solid #e4eaef;
    appearance: none;
    color: #0b0d12;
    padding: 17px 17px 0;
    padding-right: 50px;
    border-radius: inherit;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: border-color 0.3s ease, color 0.3s ease;

    &::placeholder {
      color: #101010;
      opacity: 0.5;
    }

    &::-ms-clear {
      display: none;
      width: 0;
      height: 0;
    }

    &::-ms-reveal {
      display: none;
      width: 0;
      height: 0;
    }

    &:disabled,
    &:read-only {
      border: 1px solid #ececec !important;
      opacity: 0.5;
    }
  }

  &__tip {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    visibility: hidden;
    z-index: 20;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0s ease 0.3s;

    svg {
      position: absolute;
      top: 50%;
      margin-top: -11.5px;
      width: 23px;
      height: 23px;
      right: 17px;
    }

    &:hover {
      & + .baseInput__tipMessage {
        opacity: 1;
        visibility: visible;
        transition-delay: 0s;
      }
    }
  }

  &__tipMessage {
    background-color: white;
    border: 1px solid #ececec;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.13);
    position: absolute;
    right: 17px;
    display: inline-block;
    max-width: 100%;
    bottom: 77%;
    font: 400 15px/20px "Arial", sans-serif;
    color: #0b0d12;
    padding: 17px 30px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0s ease 0.3s;
    z-index: 30;
    text-align: right;

    &::after {
      content: "";
      position: absolute;
      bottom: -6px;
      right: 6px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6px 4px 0 4px;
      border-color: #fff transparent transparent transparent;
      z-index: 3;
    }
  }

  &--disabled {
    .baseInput__hidden {
      color: rgba(#1d1e22, 0.75);

      &:focus {
        color: #0b0d12;
      }
    }

    @include hover() {
      .baseInput__hidden {
        color: #0b0d12;
        user-select: auto;
      }
    }
  }

  &--error {
    .baseInput__tip {
      opacity: 1;
      visibility: visible;
      transition-delay: 0s;
    }

    .baseInput__hidden {
      border-color: #ff6d6d;
      transition: border-color 0.3s ease, color 0.3s ease;
    }

    .baseInput__hidden:focus {
      border-color: #ff6d6d;
    }

    .baseInput__icon {
      opacity: 0;
    }

    @include hover() {
      .baseInput__hidden {
        border-color: #ff6d6d;
        user-select: auto;
      }
    }
  }
}
