.caseTabs(:class="{'caseTabs--disable' : !isActive}", ref="tabs")
  .caseTabs__container
    slot(name="header")
    .caseTabs__header(
      v-show = "isActive",
      ref = "header",
      @mousedown="mouseDown")
      button.caseTabs__button(
        ref = "button",
        v-for = "item in items",
        :key = "item.name",
        @click = "onClick(item.name, $event)",
        :data-name = "`#${item.name}`",
        :class = "{'caseTabs__button--active': item.name === activeName}"
      )
        span(v-html = "item.title")
      .caseTabs__selectBlock(ref = "line")
  .caseTabs__body
    slot
