section.caseWelcome
  .caseWelcome__container
    img.caseWelcome__logo(src="/assets/content/case-detail/logo.svg", alt="Автоматическая верификация заявок для HR")
    h1.caseWelcome__title {{title}}
    span.caseWelcome__date {{date}}
    p.caseWelcome__anons {{description}}
    .caseWelcome__tags
      nuxt-link.caseWelcome__tag(to="/catalog") Номинант года
      nuxt-link.caseWelcome__tag(to="/catalog") QSR
      nuxt-link.caseWelcome__tag(to="/catalog") Крупный бизнес
      nuxt-link.caseWelcome__tag(to="/catalog") HR
      nuxt-link.caseWelcome__tag(to="/catalog") Voximplant
      nuxt-link.caseWelcome__tag(to="/catalog") Яндекс.Облако
      nuxt-link.caseWelcome__tag(to="/catalog") Яндекс.Облако
      nuxt-link.caseWelcome__tag(to="/catalog") Рост производительности

  img.caseWelcome__scrollIcon(src="~/assets/images/scroll-icon.svg")
