.sectionAwards
  .container-fluid.sectionAwards__container
    .row
      .offset-xxl-3.col-xxl-5.offset-xl-3.col-xl-5.offset-lg-3.col-lg-5.offset-md-3.col-md-5.offset-sm-1.col-sm-6.offset-xs-0.col-xs-9.offset-0.col-12
        .sectionAwards__content
          h3.sectionAwards__.h3 текст
          .sectionAwards__description.p текст
        .sectionAwards__images
          img.sectionAwards__images-item.sectionAwards__images-item--left(src="/images/Mobile_2.png", alt="mobile image")
          img.sectionAwards__images-item.sectionAwards__images-item--right(src="/images/Mobile_1.png", alt="mobile image", :style="{ transform: trasformPercent }")
