section.caseProblem
  .caseProblem__content(ref="content")
    h2.caseProblem__title Какую проблему решали
    p.caseProblem__subtitle(v-maskText) Каждая заявка с сайта и горячей линии обрабатывалась вручную. Оператор&nbsp;общался с соискателем и заполнял анкету: возраст, гражданство, город, предпочитаемый район работы. Данные передавались менеджерам ресторанов на местах для назначения интервью. Из 10 000 заявок в месяц 30% нерелевантны и впустую тратят время рекрутера.

  client-only
    .caseProblem__dot(v-for="dot in dots", :key="dot.i", :style="dot.style")
